:root {
  --btn_border_col_main: #e5e7eb;
  --btn_border_col_valid: green;
  --btn_border_col_alert: red;
  --btn_bg_col_main: #596d48;
  --btn_bg_col_main_focus: #6c7c5e;
  --bg_image_main: url("../images/halie-west-25xggax4bSA-unsplash.jpg");
  --left_section_width: 40vw;
  --right_section_width: calc(100vw - var(--left_section_width));
  --bg_black_transparent: rgba(0, 0, 0, 0.5);
  --bg_white_subtle: rgb(248, 248, 248);
  --bg_input_subtle_white: rgb(251, 251, 251);
  --pading_right_section: 4rem;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
}

/* First section */

.app__visual {
  flex: 1 1 var(--left_section_width);
  position: relative;
  background-image: var(--bg_image_main);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}

.visual {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0rem;
  margin-top: 14rem;
  background-color: var(--bg_black_transparent);
}

.visual__logo {
  height: 8rem;
}

.visual__name {
  font-size: 5rem;
}

.cheers {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

/* Second section */

.app__content {
  flex: 1 1 var(--right_section_width);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--bg_white_subtle);
}

.content__par {
  flex: 0 1 38%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  padding: var(--pading_right_section);
  max-width: 70ch;
}

.content__form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
  padding: 2rem var(--pading_right_section) 2.5rem var(--pading_right_section);
  box-shadow: rgba(0, 0, 0, 0.03) 0px 2px 1px, rgba(0, 0, 0, 0.03) 0px 4px 2px,
    rgba(0, 0, 0, 0.03) 0px 4px 2px, rgba(0, 0, 0, 0.03) 0px 8px 4px,
    rgba(0, 0, 0, 0) 0px 16px 8px;
}

.form {
  flex: 0 1 28%;
  display: flex;
  gap: 2.5rem 5rem;
  max-width: 35rem;
  flex-wrap: wrap;
}

.control {
  flex: 1 1 auto;
  position: relative;
}

.control__label {
  position: absolute;
  transform: translateY(-100%);
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.control__input {
  width: clamp(10rem, 100%, 17rem);
  padding: 0.2rem 0.5rem;
  border: 1px solid var(--btn_border_col_main);
  border-radius: 0.2rem;
  background-color: var(--bg_input_subtle_white);
  outline: none;
}

.control__input:invalid,
.control__input:focus:invalid {
  border-color: var(--btn_border_col_alert);
}

.control__input:valid {
  border-color: var(--btn_border_col_valid);
}

.control__input:placeholder-shown {
  border-color: var(--btn_border_col_main);
}

.content__signup {
  padding: 0.6rem var(--pading_right_section);
}

.control__hint {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: var(--btn_border_col_alert);
  position: absolute;
  display: none;
}

img {
  height: 0.8rem;
}

.control__input:invalid + .control__hint,
.control__input:focus:invalid + .control__hint {
  display: flex;
  align-items: center;
}

.control__input:valid + .control__hint,
.control__input:placeholder-shown + .control__hint {
  display: none;
}

.signup__btn {
  background-color: var(--btn_bg_col_main);
  color: white;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 2.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 200ms;
  cursor: pointer;
  height: 3rem;
  width: 14rem;
  font-weight: 600;
}

.signup__btn:hover {
  box-shadow: rgba(45, 45, 102, 0.2) 3px 7px 10px 0px;
  background-color: var(--btn_bg_col_main_focus);
}

.content__login {
  font-size: 1.1rem;
  padding-left: var(--pading_right_section);
}

.content__login > a {
  text-decoration: none;
  color: var(--btn_bg_col_main);
}

.content__login > a:hover {
  color: rgb(24, 100, 105);
  transition: all 200ms ease-in-out;
}
